<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App: Compare</title>
    <link rel="stylesheet" href="webapp.css" type="text/css" />
    <link rel="icon" href="img/favicon.ico" type="image/png">
</head>
<body>
    <h1>
        <a class='main_button' href="http://localhost:5000">VIDEO APP!</a>
    </h1>

    

</body>
</html>