<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<style>
    body{
        background-color:black;
    }
</style>
<body>
    <p style="font-size:32px;color:white">
        INDEX.HTML
    </p>
    <br><br>
    <a href="http://127.0.0.1:5000/">Mockup 1: Main Page</a><br><br>
    <a href="http://127.0.0.1:5000/movies">Mockup 2: Search</a><br><br>
    <a href="http://127.0.0.1:5000/overviews">Mockup 3: Overviews</a><br><br>
    <a href="http://127.0.0.1:5000/generator">Mockup 4: Random Generator</a><br><br>
    <a href="http://127.0.0.1:5000/comparison">Mockup 5: Comparison</a><br><br>
</body>
</html>