<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UFT-8">
    <title>InfoVideo</title>
    <link rel="stylesheet" href="webapp.css" type="text/css" />
    <link rel="stylesheet" href="static/webapp.css" type="text/css" />
    <link rel="icon" href="img/favicon.ico" type="image/png">
</head>

<body>
    <h1>
        <a class='main_button' href="http://127.0.0.1:5000">VIDINFO</a>
        <!--This is how to make a Stylized Drop Down List.-->
        <!--
        <div class="dropdown">
            <button class="dropbtn">USE!</button>
            <div class="dropdown-content">
                <a href="#">SEARCH</a>
                <a href="#">MOST POPULAR</a>
                <a href="#">OVERVIEWS</a>
                <a href="#">COMPARISON</a>
            </div>
        </div>
        -->
    </h1>
    <div id="main_buttons">
        <form action="http://127.0.0.1:5000/search">
            <button type='submit' id="button1" class="function_button">SEARCH</button>
        </form>
        <form action="http://127.0.0.1:5000/comparison">
            <button type='submit' id="button2" class="function_button">COMPARISON</button>
        </form>
        <form action="http://127.0.0.1:5000/overviews">
            <button type='submit' id="button3" class="function_button">OVERVIEWS</button>
        </form>
        <form action="http://127.0.0.1:5000/generator">
            <button type='submit' id="button4" class="function_button">MOST POPULAR</button>
        </form> 
    </div>
    <p>This is a web application designed by Jack Owens and Aaron Bronstone in CS257: Software Design at Carleton College. This application allows you to do the following:<br><br>
    1.) Search for movies based on a number of criteria, including title, director, genre, cast, production company, etc.<br>
    2.) ..........
    </p>

    

    

</body>

</html>