<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebApp: Generator</title>
    <link rel="stylesheet" href="webapp.css" type="text/css" />
    <link rel="stylesheet" href="static/webapp.css" type="text/css" />
    <link rel="icon" href="img/favicon.ico" type="image/png">
    <script type="text/javascript" src="static/popularity.js"></script>
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn"><strong>RANDOM MOVIE GENERATOR</strong></button>
        <div class="dropdown-content">
          <a href="http://127.0.0.1:5000/movies">Search</a>
          <a href="http://127.0.0.1:5000/overviews">Overviews</a>
          <a href="http://127.0.0.1:5000/popularity">Random Movie Generator</a>
          <a href="http://127.0.0.1:5000/comparison">Comparison</a>
        </div>
    </div>
    <h1>
        <a class='main_button' href="http://127.0.0.1:5000">VIDINFO</a>
    </h1>
    
    <br><br><br>

    <!--<label for="randomizer">Get me a random movie!</label>
    <input name="" type="checkbox" id="random_checkbox" onclick="random_filters()">-->

    <div id="filter">
        <!--<label for="search">Movie Title:</label>
        <input type="text" id="search_text">     
        <button id="submission">Submit</button>-->
        <label>Get a Movie: </label>
            <button id="submission">Submit</button>
    </div>
    <h3 id="title" style="background-color:deepskyblue;font-size:30px;">[movie title]</h3>
    <div id="tagline">
        
    </div>


    <div id="description">
        <p>
            Description:<br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, officiis!
        </p>
    </div>
    <table id="table">
        <tr class="gray">
            <th>Director</th>
            <td id="director">[insert]</td>
        </tr>
            <th>Keywords</th>
            <td id="keywords">[insert]</td>
        </tr>
        <tr class="gray">
            <th>Genres</th>
            <td id="genres">[insert]</td>
        </tr>
        <tr>
            <th>Popularity</th>
            <td id="popularity">[insert]</td>
        </tr>
        <tr class="gray">
            <th>Link</th>
            <td id="link">[insert]</td>
        </tr>
        <tr>
            <th>Language</th>
            <td id="language">[insert]</td>
        </tr>
        <tr class="gray">
            <th>Production Company</th>
            <td id="productioncompany">[insert]</td>
        </tr>
        <tr>
            <th>Production Countries</th>
            <td id="productioncountries">[insert]</td>
        </tr>
        <tr class="gray">
            <th>Release Date</th>
            <td id="releasedate">[insert]</td>
        </tr>
        <tr>
            <th>Revenue</th>
            <td id="revenue">[insert]</td>
        </tr>
        <tr class="gray">
            <th>Budget</th>
            <td id="budget">[insert]</td>
        </tr>
        <tr>
            <th>Status (as of 2017)</th>
            <td id="status">[insert]</td>
        </tr>
        <tr class="gray">
            <th>Rating</th>
            <td id="rating">[insert]</td>
        </tr>
        <tr>
            <th>Cast</th>
            <td id="cast">[insert]</td>
        </tr>
        <tr>
            <th>Crew</th>
            <td id="crew">[insert]</td>
        </tr>
        <tr>

    </table>


    
</body>
</html>