<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OVERVIEWS: InfoVideo</title>
    <link rel="stylesheet" href="webapp.css" type="text/css" />
    <link rel="stylesheet" href="static/webapp.css" type="text/css" />
    <link rel="icon" href="static/slate.png" type="image/png">
    <script type="text/javascript" src="overview.js"></script>
    <script type="text/javascript" src="static/overview.js"></script>
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn"><strong>OVERVIEWS</strong></button>
        <div class="dropdown-content">
          <a href="http://127.0.0.1:5000/movies">Search</a>
          <a href="http://127.0.0.1:5000/overviews">Overviews</a>
          <a href="http://127.0.0.1:5000/generator">Movie Generator</a>
          <a href="http://127.0.0.1:5000/comparison">Comparison</a>
        </div>
    </div>
    <h1>
        <a class='main_button' href="http://127.0.0.1:5000">VIDINFO</a>
    </h1>
    
    <br><br><br>
    <div class="description"><strong>Get an overview!</strong><br><br>Input a movie name, select from the dropdown list, and get a detailed overview!<br><br>
    <div style="font-size:15px"><strong>Note:</strong> the <u>ID</u> displayed above each movie in the dropdown is used for the input. <br>After typing, please click on your desired movie from the dropdown list to get the correct input</div>
    </div>
    <div id="filter">
        <label>Movie Id/Title:
            <input list="droplist" id="search_text" name="searchbar" /></label>
            <datalist id="droplist">
              
            </datalist>
            <button id="submission">Submit</button>
    </div>
    <h3 id="title" style="background-color:deepskyblue;font-size:30px;">[movie title]</h3>
    <div id="tagline">
        
    </div>


    <div id="overview">
        <p>
            Overview:<br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, officiis!
        </p>
    </div>
    <table id="table">
        <tr>
            <th>Director</th>
            <td id="director">[insert]</td>
        </tr>
        <tr class="gray">
            <th>Collection</th>
            <td id="collection">[insert]</td>
        </tr>
        <tr>
            <th>Keywords</th>
            <td id="keywords">[insert]</td>
        </tr>
        <tr class="gray">
            <th>Genres</th>
            <td id="genres">[insert]</td>
        </tr>
        <tr>
            <th>Popularity</th>
            <td id="popularity">[insert]</td>
        </tr>
        <tr class="gray">
            <th>Link</th>
            <td id="link">[insert]</td>
        </tr>
        <tr>
            <th>Language</th>
            <td id="language">[insert]</td>
        </tr>
        <tr class="gray">
            <th>Production Company</th>
            <td id="productioncompany">[insert]</td>
        </tr>
        <tr>
            <th>Production Countries</th>
            <td id="productioncountries">[insert]</td>
        </tr>
        <tr class="gray">
            <th>Release Date</th>
            <td id="releasedate">[insert]</td>
        </tr>
        <tr>
            <th>Revenue</th>
            <td id="revenue">[insert]</td>
        </tr>
        <tr class="gray">
            <th>Budget</th>
            <td id="budget">[insert]</td>
        </tr>
        <tr>
            <th>Status (as of 2017)</th>
            <td id="status">[insert]</td>
        </tr>
        <tr class="gray">
            <th>Rating</th>
            <td id="rating">[insert]</td>
        </tr>
        <tr>
            <th>Cast</th>
            <td id="cast" style="text-align:left; padding-left:5%;padding-right:5%">[insert]</td>
        </tr>
        <tr class="gray">
            <th>Crew</th>
            <td id="crew" style="text-align:left; padding-left:5%;padding-right:5%">[insert]</td>
        </tr>
        <tr>

    </table>
    <br>
    <div class="designers">
        Aaron Bronstone and Jack Owens
    </div>


    
</body>
</html>