<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebApp:Overviews</title>
    <link rel="stylesheet" href="webapp.css" type="text/css" />
    <link rel="stylesheet" href="static/webapp.css" type="text/css" />
    <link rel="icon" href="img/favicon.ico" type="image/png">
</head>
<body>
    <h1>
        <a class='main_button' href="http://localhost:5000">VIDEO APP!</a>
    </h1>

    <p>OVERVIEWS</p>

    <form class="filter" action="/action_page.php">
        <label for="title">Movie Title:</label>
        <input name="" type="text" id="">
        <input type="submit" value="Submit">  
    </form>

    <p>RESULT:</p>
    <p class="smallp">
        <table>
            <tr>
                <th>Movie</th>
                <td>[insert]</td>
            </tr>
            <tr>
                <th>Director</th>
                <td>[insert]</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>[insert]</td>
            </tr>
            <tr>
                <th>Popularity</th>
                <td>[insert]</td>
            </tr>
            <tr>
                <th>Overview</th>
                <td>[insert]</td>
            </tr>
        </table>
    </p>
    
</body>
</html>