<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App: Compare</title>
    <link rel="stylesheet" href="webapp.css" type="text/css" />
    <link rel="stylesheet" href="static/webapp.css" type="text/css" />
    <link rel="icon" href="img/favicon.ico" type="image/png">
    <script type="text/javascript" src="static/comparison.js"></script>
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn"><strong>COMPARISON</strong></button>
        <div class="dropdown-content">
          <a href="http://127.0.0.1:5000/movies">Search</a>
          <a href="http://127.0.0.1:5000/overviews">Overviews</a>
          <a href="http://127.0.0.1:5000/popularity">Popularity</a>
          <a href="http://127.0.0.1:5000/comparison">Comparison</a>
        </div>
    </div>
    <h1>
        <a class='main_button' href="http://127.0.0.1:5000">VIDINFO</a>
    </h1>
    
    <br><br><br>
    
    <div id="filter">
        <label for="firstmovie">Movie #1:</label>
        <input type="text" name="firstmovie" id="firstmovie">
        <input style="float:right;" type="text" name="secondmovie" id="secondmovie">
        <label style="margin-top:6px;float:right;" for="secondmovie">Movie #2:</label><br>
        <label for="">Detailed comparison:</label>
        <input type="checkbox" name="popularity" id="detailed"><br><br>

        <button id="submission">Submit</button> 
    </div>
    <table>
        <tr>
            <th></th>
            <th id="movie1title">Movie 1</th>
            <th id="movie2title">Movie 2</th>
        </tr>
        <tr>
            <th>Revenue</th>
            <td id="movie1revenue">...</td>
            <td id="movie2revenue">...</td>
        </tr>
        <tr>
            <th>Budget</th>
            <td id="movie1budget">...</td>
            <td id="movie2budget">...</td>
        </tr>
        <tr>
            <th>Runtime</th>
            <td id="movie1runtime">...</td>
            <td id="movie2runtime">...</td>
        </tr>
    </table>


</body>
</html>