<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UFT-8">
    <title>InfoVideo</title>
    <link rel="stylesheet" href="webapp.css" type="text/css" />
    <link rel="stylesheet" href="static/webapp.css" type="text/css" />
    <link rel="icon" href="static/slate.png" type="image/png">
</head>

<body>
    <h1>
        <a class='main_button' href="http://127.0.0.1:5000">VIDINFO</a>
    </h1>
    <br><br>
    <div id="main_buttons">
        <form action="http://127.0.0.1:5000/movies">
            <button type='submit' id="button1" class="function_button">SEARCH</button>
        </form>
        <form action="http://127.0.0.1:5000/comparison">
            <button type='submit' id="button2" class="function_button">COMPARISON</button>
        </form>
        <form action="http://127.0.0.1:5000/overviews">
            <button type='submit' id="button3" class="function_button">OVERVIEWS</button>
        </form>
        <form action="http://127.0.0.1:5000/generator">
            <button type='submit' id="button4" class="function_button">MOVIE GENERATOR</button>
        </form> 
    </div>
    <br><br>
    <p style="width:90%;margin-right:auto;margin-left:auto;"><strong><u>VIDINFO</u></strong> is a full stack web application containing a database of over <strong>45,000</strong> movies released prior to 2017!<br><br>
    This application supports the following four pages:<br><br>
    1.) <strong>SEARCH:</strong> search for movies based on custom filters!<br><br>
    2.) <strong>OVERVIEWS:</strong> get a detailed overview of a particular movie!<br><br>
    3.) <strong>MOVIE GENERATOR:</strong> get o detailed overview of a randomly selected movie!<br><br>
    4.) <strong>COMPARISON:</strong> get a comparison of common competitive values between movies, such as rating, popularity, budget and revenue!<br>
    </p>
    <div class="designers" style="background-color:rgb(194, 242, 250)"><strong>Note:</strong> This application uses a PSQL database derived from 'The Movies Dataset' on Kaggle: <br><a href="https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset" target="_blank">https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset</a></div><br>
    <div class="designers">
        Aaron Bronstone and Jack Owens<br>
        2022 Vidinfo
    </div>
    

</body>

</html>