<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebApp-Search</title>
    <link rel="stylesheet" href="webapp.css" type="text/css" />
    <link rel="stylesheet" href="static/webapp.css" type="text/css" />
    <link rel="icon" href="img/favicon.ico" type="image/png">
    <script type="text/javascript" src="search.js"></script>
    <script type="text/javascript" src="static/search.js"></script>
</head>
<style>
    input{float:right;}
</style>
<body>
    <h1>
        <a class='main_button' href="http://127.0.0.1:5000/">VIDEO APP!</a>
    </h1>
    <h2>
        SEARCH FOR MOVIES:
    </h2>
    <div class="row">
        <div class="column">
            <h3>
                FILTERS:
            </h3>
            <div id='filter'>
                <label for="title">Title</label>
                <input type="text" id="title" name="Movie Title"><br><br>

                <label for="director">Director</label>
                <input type="text" id="director" name="Director"><br><br>

                <label for="keyword">Keyword</label>
                <input type="text" name="Keyword" id="keyword"><br><br>

                <label for="collection">Collection</label>
                <input type="text" name="Collection" id="collection"><br><br>

                <label for="cast">Cast</label>
                <input type="text" name="Cast" id="cast"><br><br>

                <label for="crew">Crew</label>
                <input type="text" name="Crew" id="crew"><br><br>

                <label for="productioncompany">Production pompany</label>
                <input type="text" name="Production Company" id="productioncompany"><br><br>

                <label for="genre">Genre</label>
                <input type="text" name="Genre" id="genre"><br><br>
                <!--<select name="genre" id="genre">
                    <option value="">Romance</option>
                    <option value="">Science Fiction</option>
                    <option value="">Historical Fiction</option>
                    <option value="">Film Noir</option>
                    <option value="">.</option>
                    <option value="">.</option>
                    <option value="">.</option>
                    <option value="">.</option>
                    <option value="">.</option>
                    <option value="">.</option>
                </select><br><br>
                -->

                <label for="language">Language</label>
                <input type="text" name="Language" id="language"><br><br>

                <label for="country">Country of origin</label>
                <input type="text" name="Country of origin" id="country"><br><br>

                <label for="rating">Rating (1-5)</label>
                <input type="range" id="rating" name="Rating" id="slider" min="1" max="5"><br><br>

                <label for="releasedate">Release Date</label>
                <input type="date" name="Release Date" id="releasedate" min="1900-01-01" max="2025-01-01"><br><br>

                <label for="released">Show unreleased movies</label>
                <input type="checkbox" name="Released" id="released"><br><br>

                <label for="adult">Filter adult movies</label>
                <input type="checkbox" name="Adult" id="adult"><br><br>

                <button id="submission">Submit</button>
                <!--<input type="submit" value="Submit" id="submit"><br>-->
            </div>
        </div>
        <div class="column">
            <h3>
                RESULTS:
            </h3>
            <div id="results">
                <ul id="result-list">
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, fuga?</li>
                    <li>Molestiae recusandae eius autem reprehenderit provident id nostrum! Illo, est.</li>
                    <li>Laudantium, blanditiis? Debitis vel in deleniti praesentium quam voluptas nemo?</li>
                    <li>Nihil ducimus ad quos autem neque, consectetur quasi ipsum provident?</li>
                    <li>Eaque earum reprehenderit quos maxime, unde maiores officiis necessitatibus incidunt?</li>
                    <li>Ducimus officiis, dicta quidem est quisquam animi soluta quo! Ut!</li>
                    <li>Accusantium porro quod iusto ducimus modi quibusdam laudantium unde eos?</li>
                    <li>Aliquam consectetur nam velit ducimus, corporis odio nesciunt culpa at!</li>
                    <li>Accusantium cumque maiores ipsum voluptates dignissimos commodi inventore, vitae suscipit.</li>
                    <li>Rem impedit ab eius neque soluta nemo aliquid accusamus iusto.</li>
                    <li>Eveniet consequatur ratione harum nobis dicta optio perspiciatis, voluptatum enim!</li>
                    <li>Repellendus, at suscipit! Harum est illo quia, dolorum delectus aut.</li>
                    <li>Reiciendis, dolores at iste mollitia quis maiores itaque consequuntur aspernatur.</li>
                    <li>Voluptatibus ab placeat, quos quam nam quasi sunt debitis quisquam!</li>
                    <li>Assumenda quisquam, officiis quas vero accusamus ex nihil voluptate pariatur?</li>
                    <li>Ad asperiores perspiciatis aperiam dicta, suscipit quae architecto maxime maiores.</li>
                    <li>Reiciendis tempora facilis soluta accusamus quos enim cum ut reprehenderit!</li>
                    <li>Explicabo doloribus impedit iure atque facilis commodi, corrupti soluta unde!</li>
                    <li>Commodi iste illum sed quam hic tenetur ad dolorum cum!</li>
                    <li>Porro facilis dolor dicta, fugit consectetur id? Ad, quam provident.</li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <br>
</body>
</html>