<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebApp-Popularity</title>
    <link rel="stylesheet" href="webapp.css" type="text/css" />
    <link rel="stylesheet" href="static/webapp.css" type="text/css" />
    <link rel="icon" href="img/favicon.ico" type="image/png">
    <script type="text/javascript" src="popularity.js"></script>
</head>
<body>
    <h1>
        <a class='main_button' href="http://127.0.0.1:5000">VIDINFO</a>
    </h1>

    <h2>
        POPULARITY:
    </h2>

    <div id="filter">
        <label for="criteria">Sort...</label>
        <select>
            <option value="movies">Movies</option>
            <option value="directors">Directors</option>
            <option value="actors">Actors</option>
            <option value="genre">Genres</option>
            <option value="production_company">Production Companies</option>
            <option value="production_countries">Production Countries</option>
            <option value="language">Language</option>
            <option value="">etc.</option>
        </select>
        <label for="value"> by...</label>
        <select>            <option value="popularity">Popularity</option>
            <option value="average_rating">Average Rating</option>
            <option value="revenue">Revenue</option>
            <option value="budget">Budget</option>
            <option value="">etc.</option>
        </select><br>
        <label for="quantity">Get first...</label>
        <input type="number" name="quantity" value="10" min="1" max="100">...values<br>
        <label for="Descending?">Descending?</label>
        <input type="checkbox" class="" id=""><br><br>
        <button id="submission">Submit</button> 
    </div>
    <h3>
        RESULTS:
    </h3>
    <div id="results" style="margin:20px">
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, fuga?</li>
            <li>Molestiae recusandae eius autem reprehenderit provident id nostrum! Illo, est.</li>
            <li>Laudantium, blanditiis? Debitis vel in deleniti praesentium quam voluptas nemo?</li>
            <li>Nihil ducimus ad quos autem neque, consectetur quasi ipsum provident?</li>
            <li>Eaque earum reprehenderit quos maxime, unde maiores officiis necessitatibus incidunt?</li>
            <li>Ducimus officiis, dicta quidem est quisquam animi soluta quo! Ut!</li>
            <li>Accusantium porro quod iusto ducimus modi quibusdam laudantium unde eos?</li>
            <li>Aliquam consectetur nam velit ducimus, corporis odio nesciunt culpa at!</li>
            <li>Accusantium cumque maiores ipsum voluptates dignissimos commodi inventore, vitae suscipit.</li>
            <li>Rem impedit ab eius neque soluta nemo aliquid accusamus iusto.</li>
            <li>Eveniet consequatur ratione harum nobis dicta optio perspiciatis, voluptatum enim!</li>
            <li>Repellendus, at suscipit! Harum est illo quia, dolorum delectus aut.</li>
            <li>Reiciendis, dolores at iste mollitia quis maiores itaque consequuntur aspernatur.</li>
            <li>Voluptatibus ab placeat, quos quam nam quasi sunt debitis quisquam!</li>
            <li>Assumenda quisquam, officiis quas vero accusamus ex nihil voluptate pariatur?</li>
            <li>Ad asperiores perspiciatis aperiam dicta, suscipit quae architecto maxime maiores.</li>
            <li>Reiciendis tempora facilis soluta accusamus quos enim cum ut reprehenderit!</li>
            <li>Explicabo doloribus impedit iure atque facilis commodi, corrupti soluta unde!</li>
            <li>Commodi iste illum sed quam hic tenetur ad dolorum cum!</li>
            <li>Porro facilis dolor dicta, fugit consectetur id? Ad, quam provident.</li>
        </ul>
    </div>
</body>
</html>