<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App: Compare</title>
    <link rel="stylesheet" href="webapp.css" type="text/css" />
    <link rel="stylesheet" href="static/webapp.css" type="text/css" />
    <link rel="icon" href="img/favicon.ico" type="image/png">
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn"><strong>Go to...</strong></button>
        <div class="dropdown-content">
          <a href="http://127.0.0.1:5000/search">Search</a>
          <a href="http://127.0.0.1:5000/overviews">Overviews</a>
          <a href="http://127.0.0.1:5000/popularity">Popularity</a>
          <a href="http://127.0.0.1:5000/comparison">Comparison</a>
        </div>
    </div>
    <h1>
        <a class='main_button' href="http://127.0.0.1:5000">VIDINFO</a>
    </h1>
    

    <h2>
        MOVIE COMPARISON
    </h2>
    <div id="filter">
        <label for="movie1">Movie #1:</label>
        <input type="text" name="movie1" id="">
        <input style="float:right;" type="text" name="movie2" id="">
        <label style="margin-top:6px;float:right;" for="movie2">Movie #2:</label><br>
        <label for="">Detailed comparison:</label>
        <input type="checkbox" name="popularity" id=""><br><br>

        <button id="submission">Submit</button> 
    </div>

    <h3>
        RESULTS:
    </h3>
    <table>
        <tr>
            <th></th>
            <th>Movie 1</th>
            <th>Movie 2</th>
        </tr>
        <tr>
            <th>Criteria 1</th>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <th>Criteria 2</th>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <th>Criteria 3</th>
            <td>...</td>
            <td>...</td>
        </tr>
    </table>


</body>
</html>