<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPARISON: InfoVideo</title>
    <link rel="stylesheet" href="static/webapp.css" type="text/css" />
    <script type="text/javascript" src="static/comparison.js"></script>
    <link rel="icon" href="static/slate.png" type="image/png">
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn"><strong>COMPARISON</strong></button>
        <div class="dropdown-content">
          <a href="http://127.0.0.1:5000/movies">Search</a>
          <a href="http://127.0.0.1:5000/overviews">Overviews</a>
          <a href="http://127.0.0.1:5000/generator">Movie Generator</a>
          <a href="http://127.0.0.1:5000/comparison">Comparison</a>
        </div>
    </div>
    <h1>
        <a class='main_button' href="http://127.0.0.1:5000">VIDINFO</a>
    </h1>
    
    <br><br><br>

    <div class="description"><strong>Compare two movies!</strong><br><br>Fill out <strong><u>both</u></strong> movie inputs, and get a comparison of competitive movie statistics!<br><br>
    <div style="font-size:15px"><strong>Note:</strong> the <u>ID</u> displayed above each movie in the dropdown is used for the input. <br>After typing, please click on your desired movie from the dropdown list to get the correct input</div></div>
    
    <div id="filter">
        <label for="firstmovie">Movie #1:
        <input list="firstmoviedroplist" id="firstmovie" name="firstmovie" /></label>
        <datalist id="firstmoviedroplist">
            
        </datalist>
        <label style="margin-top:6px;float:right;" for="secondmovie">Movie #2:
            <input style="float:right;" list="secondmoviedroplist" id="secondmovie" name="secondmovie" /></label>
        <datalist id="secondmoviedroplist">
            
        </datalist><br>
        
        <label for="">Detailed comparison:</label>
        <input type="checkbox" name="detailed" id="detailed"><br><br>

        <button id="submission">Submit</button> 
    </div>
    <table id="table">
        <tr style="background-color:rgb(204, 165, 204)">
            <th></th>
            <th id="movie1title">Movie 1</th>
            <th id="movie2title">Movie 2</th>
        </tr>
        <tr>
            <th style="background-color:rgb(204, 165, 204)"><strong>Popularity</strong></th>
            <td id="movie1popularity">...</td>
            <td id="movie2popularity">...</td>
        </tr>
        <tr>
            <th style="background-color:rgb(204, 165, 204)"><strong>Revenue</strong></th>
            <td id="movie1revenue">...</td>
            <td id="movie2revenue">...</td>
        </tr>
        <tr>
            <th style="background-color:rgb(204, 165, 204)"><strong>Budget</strong></th>
            <td id="movie1budget">...</td>
            <td id="movie2budget">...</td>
        </tr>
        <tr>
            <th style="background-color:rgb(204, 165, 204)"><strong>Rating</strong></th>
            <td id="movie1rating">...</td>
            <td id="movie2rating">...</td>
        </tr>
        <tr>
            <th style="background-color:rgb(204, 165, 204)"><strong>Runtime</strong></th>
            <td id="movie1runtime">...</td>
            <td id="movie2runtime">...</td>
        </tr>
    </table>
    <br>
    <div class="designers">
        Aaron Bronstone and Jack Owens
    </div>


</body>
</html>