<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebApp:Overviews</title>
    <link rel="stylesheet" href="webapp.css" type="text/css" />
    <link rel="stylesheet" href="static/webapp.css" type="text/css" />
    <link rel="icon" href="img/favicon.ico" type="image/png">
    <script type="text/javascript" src="overview.js"></script>
</head>
<body>
    <h1>
        <a class='main_button' href="http://127.0.0.1:5000">VIDINFO</a>
    </h1>

    <h2>OVERVIEWS</h2>

    <label for="randomizer">Get me a random movie!</label>
    <input name="" type="checkbox" id="random_checkbox" onclick="random_filters()">

    <div id="filter">
        <label for="search">Movie Title:</label>
        <input name="" type="text" id="search">     
        <button id="submission">Submit</button> 
    </div>
    <h3 id="title">[movie title]</h3>

    <p>
        
        Overview:<br>
        
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, officiis!
    </p>
    <table>
        <tr>
            <th>Director</th>
            <td>[insert]</td>
        </tr>
        <tr>
            <th>Genre</th>
            <td>[insert]</td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>[insert]</td>
        </tr>
        <tr>
            <th>etc....</th>
            <td>[insert]</td>
        </tr>
    </table>


    
</body>
</html>