<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebApp-Search</title>
    <link rel="stylesheet" href="webapp.css" type="text/css" />
    <link rel="icon" href="img/favicon.ico" type="image/png">
</head>
<body>
    <h1>
        <a class='main_button' href="http://localhost:5000">VIDEO APP!</a>
    </h1>

    <p>
        SEARCH FOR MOVIES:
        <form class='form' action="/action_page.php">
            <label for="title">Title</label>
            <input type="text" id="title" name="title"><br><br>
            <label for="director">Director</label>
            <input type="text" id="director" name="director"><br><br>
            <label for="keyword">Keyword</label>
            <input type="text" name="keyword" id="keyword"><br><br>
            <label for="adult">Adult</label>
            
            <input type="text" name="collection" id="keyword"><br><br>
            <label for="adult">Adult</label>
            <input type="text" name="cast" id="keyword"><br><br>
            <label for="adult">Adult</label>
            <input type="text" name="crew" id="keyword"><br><br>
            <label for="adult">Adult</label>
            <input type="text" name="genre" id="keyword"><br><br>
            <label for="adult">Adult</label>
            <input type="text" name="keyword" id="keyword"><br><br>
            <label for="adult">Adult</label>
            <input type="text" name="keyword" id="keyword"><br><br>
            <label for="adult">Adult</label>
            <input type="text" name="keyword" id="keyword"><br><br>
            <label for="adult">Adult</label>
            <input type="checkbox" name="adult" id="adult"><br><br>
            <input type="submit" value="Submit">
        </form>
    </p>
</body>
</html>